

b {
    padding: 5px;
}
#wsite-content {
    text-align: center;
    width: 100%;
}
#wsite-content p {
    position: relative;
    margin: 0px auto;
    text-align: left;
    font-size: 2.10vw;
    line-height: 1.5em;
    width: 80%;
}

#wsite-content div {
    margin: 5px;
}
